
.container {
    position: relative;
    height: 138vh;
    width: 100vw;
    overflow: hidden;
    background: #161513;
    margin-bottom: 5px;
}
.container img {
    position: absolute;
    width: 52%;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.9;
}
.aboutText h1 {
    position: absolute;
    top: calc(50% - 550px);
    left: calc(50% - 720px);

    font-size: 110px;
    background: linear-gradient(-45deg, #f77cda, #f88191, #edeb63, #f76bae);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
    }
    
    @keyframes animated_text {
        0% { background-position: 0px 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0px 50%; }
    }
.aboutText h3{
    text-align: center;
    font-size: 70px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 690px);
}
.aboutText img{
    width: 180px;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 570px);
    opacity: 0.9;
}
.nome {
    background: linear-gradient(-45deg, #f77cda, #f88191, #edeb63, #f76bae);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}
.container .profilo {
    width: 800px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    z-index: 1;
}

.first-description h3 {
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 45px;
}
.first-description h3 .flag{
    position: absolute;
    top: 0%;
    left: 105%;
    font-size: 45px;
    background: linear-gradient(-45deg, #3cdf39, #f1f1e9, #e42020);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}
.first-description h3 .flag:hover {
    font-size: 60px;
}

.second-description h3 {
    line-height: 2;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 55%;
    font-size: 78px;
    background: linear-gradient(-45deg, #f77cda, #f88191, #edeb63, #f76bae);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}
.second-description h2 {
    position: absolute;
    top: 80%;
    left: 6%;
    font-size: 38px;
}
